<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" >
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<title>Ex-BOOK</title>
	<script src="http://localhost:35729/livereload.js?snipver=1"></script>
	<link rel="stylesheet" href="../static/css/index.css" />
</head>
<body>
	<div class="leaders">
		<div class="leader">
			<img src="../static/img/index.png" alt="" />
			<span>首页</span>
		</div>
		<div class="leader">
			<img src="../static/img/message.png" alt="" />
			<span>消息</span>
		</div>
		<div class="leader upleader">
			<img src="../static/img/pulish.png" alt="" />
			<span>发布</span>
		</div>
		<div class="leader">
			<img src="../static/img/pc.png" alt="" />
			<span>个人中心</span>
		</div>
		<div class="leader">
			<img src="../static/img/feedback.png" alt="" />
			<span>联系我们</span>
		</div>
	</div>

	<div class="index">
		<div class="search">
			<input type="button" id="search" value="搜索"/>
			<i></i><input type="text" id="searchText" placeholder="搜索" />
		</div>
		<div class="books">
			<div class="book">
				<img src="../static/img/touxiang.jpg" alt="无法加载头像" class="touxiang"/>
				<span class="price">5</span>
				<div class="information">
					<h4>天使的大熊sdfsdfsddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd</h4>
					<p class="time">1分钟前</p>
					<p class="pic">
						<img src="" alt="" />
						<img src="" alt="" />
						<img src="" alt="" />
						<img src="" alt="" />
						<img src="" alt="" />
						<img src="" alt="" />
					</p>
					<p class="describe">描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述</p>
				</div>
				<p class="more">
					<a href="">详情</a>
					<a href="" class="comment">20</a>
				</p>
			</div>
			<div class="book">
				<img src="../static/img/touxiang.jpg" alt="无法加载头像" class="touxiang"/>
				<span class="price">5</span>
				<div class="information">
					<h4>天使的大熊sdfsdfsddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd</h4>
					<p class="time">1分钟前</p>
					<p class="pic">
						<img src="" alt="" />
						<img src="" alt="" />
						<img src="" alt="" />
						<img src="" alt="" />
						<img src="" alt="" />
						<img src="" alt="" />
					</p>
					<p class="describe">描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述</p>
				</div>
				<p class="more">
					<a href="">详情</a>
					<a href="" class="comment">20</a>
				</p>
			</div>
			<div class="book">
				<img src="../static/img/touxiang.jpg" alt="无法加载头像" class="touxiang"/>
				<span class="price">5</span>
				<div class="information">
					<h4>天使的大熊sdfsdfsddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd</h4>
					<p class="time">1分钟前</p>
					<p class="pic">
						<img src="" alt="" />
						<img src="" alt="" />
						<img src="" alt="" />
						<img src="" alt="" />
						<img src="" alt="" />
						<img src="" alt="" />
					</p>
					<p class="describe">描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述</p>
				</div>
				<p class="more">
					<a href="">详情</a>
					<a href="" class="comment">20</a>
				</p>
			</div>
		</div>
	</div>
</body>
</html>